.users {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgba(63, 63, 63, 0.692);
  color: white;
  
}

.user {
  flex-basis: 28%;
  margin: 1em;
  padding: 1em;
  border: 1px solid rgb(10, 10, 10);
  height: 300px;
  text-align: center;
  background-color: rgba(83, 119, 121, 0.568);

}

.title{
  padding: 30px;
}
 

