.users {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* background-color: rgba(63, 63, 63, 0.555); */
  color: white;
  
}

.user {
  flex-basis: 28%;
  margin: 1em;
  padding: 1em;
  border: 1px solid rgb(10, 10, 10);
  height: 200px;
  text-align: center;
  background-color: rgba(5, 21, 238, 0.452);
  border-radius: 15%;

}

.title {
  padding: 30px;
  font-family: sans-serif;
  color: rgba(29, 29, 29, 0.609);
}

/* .here {
  margin-left: auto;
  padding-bottom: 100px;
} */

.user__name {
  font-family: sans-serif;
}

.user__ins{
  font-family: sans-serif;
}

.user__band{
  font-family: sans-serif;
}