.songList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.song {
  flex-basis: 33%;
  padding: 1em;
  border: 1px solid rgb(10, 10, 10);
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  background-color: rgba(29, 29, 29, 0.479);
}

fieldset {
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.song__sender {
  font-size: larger;
  color: darkred;
}
.admit{
  color: rgb(0, 86, 161);
}