/* Import the google web fonts you want to use */
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: 'Comfortaa', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Patua One', serif;
  letter-spacing: 2px;

}

p {
  margin-bottom: 1.5em;
  color: #d6fcff;
  color: darkslateblue;
  
}

strong {
  font-weight: bold;
}

address {
  margin: 0 0 1.5em;
}

.Pic{
  text-align: center;
  background-image: url('https://www.itl.cat/pics/b/3/38522_band-instruments-wallpaper.jpg');
  width: 100vw;
  background-color: rgb(182, 181, 181);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  color: rgba(255, 255, 255, 0.342);
}

.button{
border-radius: 15%;
background-color: rgb(196, 217, 245);
margin: 5px;
}

.btn--delete{
  border-radius: 15%;
  background-color: rgb(196, 217, 245);
  margin: 5px;
}
