.gigList {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  height: 1000px;
}
.gig {
  flex-basis: 33%;
  margin: 1em;
  padding: 1em;
  border: 1px solid rgb(10, 10, 10);
  color: white;
  background-color: rgb(83, 119, 121);
}
fieldset {
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.gig__sender {
  font-size: larger;
  color: darkred;
}

.gigs{
  background-color: rgba(63, 63, 63, 0.692);

}

.title{
  color: aliceblue;
}

.admit{
  color: rgb(0, 86, 161);
}